{% extends "layout.njk" %}

{% block head %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<title>Artigos - Rocketseat</title>
{% endblock %}


{% block content %}

<div id="wrapper">
  <h1>Blog</h1>
</div>
<div class="cards">
  <div class="card-blog" id="obtendo-o-status-de-progresso-do-envio-de-dados-com-axios">
    <div class="card-blog_image-container">
      <img src="https://blog.rocketseat.com.br/content/images/2020/09/obtendo-o-status-de-progresso-do-envio-de-dados-com-axios-1.gif" alt="Axios">
    </div>

    <div class="card-blog_content">
      <p>Obtendo o status de progresso do envio de dados com Axios!</p>
    </div>

    <div class="card-blog_info">
      <div class="card-blog_info-time">
        <p>4 minutos</p>
      </div>
        
      <div class="card-blog_keyword">
        <p>Axios</p>
      </div>
    </div>
  </div>

  <div class="card-blog" id="upload-de-imagens-no-s3-da-aws-com-node-js">
    <div class="card-blog_image-container">
      <img src="https://blog.rocketseat.com.br/content/images/2020/09/upload-de-imagens-no-s3-da-aws-com-node-js.png" alt="NodeJS">
    </div>

    <div class="card-blog_content">
      <p>Upload de imagens no S3 da AWS com Node.js</p>
    </div>

    <div class="card-blog_info">
      <div class="card-blog_info-time">
        <p>10 minutos</p>
      </div>
        
      <div class="card-blog_keyword">
        <p>NodeJS</p>
      </div>
    </div>
  </div>

  <div class="card-blog" id="react-hook-swr-melhor-ux-no-consumo-de-api-no-front-end-react">
    <div class="card-blog_image-container">
      <img src="https://blog.rocketseat.com.br/content/images/2020/09/react-hook-swr-melhor-ux-no-consumo-de-api-no-front-end-react-capa.png" alt="ReactJS">
    </div>

    <div class="card-blog_content">
      <p>React Hook SWR - Melhor UX no consumo de API no Front End React</p>
    </div>

    <div class="card-blog_info">
      <div class="card-blog_info-time">
        <p>6 minutos</p>
      </div>
        
      <div class="card-blog_keyword">
        <p>ReactJS</p>
      </div>
    </div>
  </div>

  <div class="card-blog" id="es11-novas-features-do-javascript">
    <div class="card-blog_image-container">
      <img src="https://blog.rocketseat.com.br/content/images/2020/09/es11-novas-features-do-javascript.png" alt="JavaScript">
    </div>

    <div class="card-blog_content">
      <p>ES11 - Novas features do JavaScript</p>
    </div>

    <div class="card-blog_info">
      <div class="card-blog_info-time">
        <p>8 minutos</p>
      </div>
        
      <div class="card-blog_keyword">
        <p>JavaScript</p>
      </div>
    </div>
  </div>

  <div class="card-blog" id="dockerfile-principais-comandos-para-criar-a-receita-da-imagem">
    <div class="card-blog_image-container">
      <img src="https://blog.rocketseat.com.br/content/images/2020/08/dockerfile-principais-comandos-para-criar-a-receita-da-imagem.png" alt="Docker">
    </div>

    <div class="card-blog_content">
      <p>Dockerfile - Principais comandos para criar a receita da imagem</p>
    </div>

    <div class="card-blog_info">
      <div class="card-blog_info-time">
        <p>6 minutos</p>
      </div>
        
      <div class="card-blog_keyword">
        <p>Docker</p>
      </div>
    </div>
  </div>

  <div class="card-blog" id="electron-construindo-aplicacoes-desktop-com-javascript">
    <div class="card-blog_image-container">
      <img src="https://blog.rocketseat.com.br/content/images/2020/08/blog-rocketseat-construindo-apps-desktop-com-electron-1.png" alt="Electron">
    </div>

    <div class="card-blog_content">
      <p>Electron - construindo aplicações desktop com JavaScript</p>
    </div>

    <div class="card-blog_info">
      <div class="card-blog_info-time">
        <p>10 minutos</p>
      </div>
        
      <div class="card-blog_keyword">
        <p>Electron</p>
      </div>
    </div>
  </div>
</div>

<div class="modal-overlay">
  <div class="modal">
    <div class="close-modal">
      <i class="material-icons">
        close
      </i>
    </div>

    <div class="maximize-modal">
      <i class="material-icons">
        open_in_full
      </i>
    </div>

    <div class="modal-content">
      <iframe src="" frameborder="0"></iframe>
    </div>
    

  </div>
</div>
<script src="/scripts.js"></script>
{% endblock %}