{% extends "layout.njk" %}}

{% block content %}
<div id="wrapper">
  
  <div class="text">
    <h1>Error: 404</h1>
    <div class="error-text"><p>Não foi possível encontrar o conteúdo da páguina</p></div>
  </div>
  
</div>

{%endblock%}}